<footer>
        
    <div class="footer-mobile">

        <section class="socialmedia">
            
            <div class="telefono-footer">
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>

            <div class="instagram-footer">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <div class="facebook-footer">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>

            <div class="youtube-footer">
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        


        </section>

       
        <section class="contacto-footer">
            <h3>Contacto</h3>
            <ul>
                <li><a href="#"> +5491123456789</a></li>
                <li><a href="#"> dhbicicletas@dhmail.com</a></li>
                <li><a href="#"> Av. Calle Falsa 123</a></li>
            </ul>
        </section>

        <section class="links-footer">
            <h3>Links</h3>
            <ul>
                <li><a href="#"> Home</a></li>
                <li><a href="#"> Sobre Nosotros</a></li>
                <li><a href="#"> Productos</a></li>
                <li><a href="#"> Contacto</a></li>
            </ul>
        </section>

        <div class="logo-footer">
                <div class="logo-footer-logo">
                    <a href="/"><img  src="images/logodhbikes-bw.svg" ></a>
                </div>

                <div class="logo-footer-social">
                    <div class="telefono-footer">
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
    
                    <div class="instagram-footer">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
    
                    <div class="facebook-footer">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
    
                    <div class="youtube-footer">
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
               
            
            
        </div>
            

    </div>

</footer>