<header>
    <section class="top-header">
        <div class="mensaje-promo">
            <p>mensaje cambiante en pantalla promo</p>
        </div>

        <div class="info-contacto-header">
            
            <div class="telefono-header">
                <a href="#"><p><i class="fa-brands fa-whatsapp"></i>  +5491123456789</p></a>
            </div>

            <div class="mail-header">
                <a href="#"><p><i class="fa-solid fa-envelope"></i>  dhbicicletas@dhmail.com</p></a>
            </div>

            <div class="direccion-header">
                <a href="#"><p><i class="fa-solid fa-location-dot"></i>  Av. Calle Falsa 123</p></a>
                
            </div>
        </div>
    </section>

    <section class="bottom-header">
        <div class="menu-flex-mobile">
            <div class="menu-mobile">
                <nav>
                    <i class="fa-solid fa-bars"></i>
                </nav>
            </div>
        </div>

        <div class="logoflex">
            
            <div class="logo">
                <a href="/"><img  src="images/logodhbikes.svg" ></a>
            </div>
            
        </div>
        
        <div class="user-flex-mobile">
            <div class="user-flex-mobile">
                <a href="#"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>


        

        <div class="cart-flex">
            <div class="cart">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>

        <div class="menu-desktop-flex">
           <nav class="menu-desktop">
                 <ul type="none">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav> 
        </div>

        <div class="user-flex-desktop">
            
            <div class="login-flex-desktop">
                <div class="login-desktop">
                    <button><a href="/login">login</a></button>  
                </div>
            </div>

            <div class="registro-flex-desktop">
                <div class="registro-desktop">
                    <button><a href="/registro">registro</a></button>  
                </div>
            </div>

        </div>

        
    </section>
</header>    
