* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen-carrito-mobile {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("/images/background-carrito.jpg");
  }

  .imagen-carrito-mobile p {
    font-size:2rem;
    color: white;
    letter-spacing: 6px;
    font-weight: bold;
  }

  .container {
    width: 100%;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.sub-container-1 {
    width: 65%;
    display: flex;
    
}

.sub-container-2 {
    width: 35%;
    display: flex;
}

/* tabla productos */

.tabla-tabla-productos {
    font-size: 1.2rem;
    padding: 20px 20px 20px 20px;
    border: #56E8F0 solid 2px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.item a,
.item button {
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
}

.item span {
    font-weight: bold;
}

th,
td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-quantity {
    width:10%
}

.product-quantity input {
    width: 40%;
    font-size: 1.3rem;
}

td img {
    width: 100px;
}

/* tabla totales */

.tabla-totales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 2px #56E8F0;
    font-size: 1.3rem;
    
}

.display-tabla-totales {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.subtotal-tabla-totales,
.envio-tabla-totales,
.total-tabla-totales {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.envio-tabla-totales {
    flex-direction: column;
}

.envio-especifico-tabla-totales {
    font-size: 0.8rem;
}

.subtotal-titulo-tabla-totales,
.envio-titulo-tabla-totales,
.total-tabla-totales {
    font-weight: bold;
}

.titulo-tabla-totales {
    font-size: 1.5rem
;
}



.finalizar-compra-tabla-totales {
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    
}

.finalizar-compra-tabla-totales button {
    background-color: black;
    color: #56E8F0;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    font-size: 1.5rem;
}

@media (min-width:468px) {
    
.imagen-carrito-mobile {
    height: 200px;
    background-position-y: 53%;
}

.imagen-carrito-mobile p {
    font-size: 3rem;
}

}

@media (max-width: 768px){

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    
    .sub-container-1,
    .sub-container-2 {
        width: 90%;
        justify-content: center;
    }
    
    /* tabla productos */
    
    thead {
        display: none;
    }
    
    .tabla-tabla-productos{
        font-size: 0.9rem;
    }
    
    
    .product-thumbnail {
        display: none;
    }
    
    .product-remove,
    .product-name,
    .product-price,
    .product-quantity,
    .product-subtotal {
        display: block;
        text-align: right;
        width: 100%;
        
    }
    
    .product-quantity input {
        width: 10%;
        font-size: 0.9rem;
    }
    
    .product-subtotal {
        border-bottom: solid black 1px;
    }
    
    .product-name::before {
        content: 'PRODUCTO ' ;
        float: left;
        font-weight: bold;
    }
    
    .product-price::before{
        content: 'PRECIO';
        float: left;
        font-weight: bold;
    }
    
    .product-quantity::before{
        content: 'CANTIDAD';
        float: left;
        font-weight: bold;
    }
    
    .product-subtotal::before{
        content: 'SUBTOTAL';
        float: left;
        font-weight: bold;
    }
    
    /* tabla totales */
    
    .tabla-totales {
        font-size: 1rem;
    }
    
    .titulo-tabla-totales {
        font-size: 1.3rem;
    }
    
    .finalizar-compra-tabla-totales button {
        font-size: 1.3rem;
    }
    
    }




