* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen-carrito-mobile {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("/images/background-carrito.jpg");
  }

  .imagen-carrito-mobile p {
    font-size:2rem;
    color: white;
    letter-spacing: 6px;
    font-weight: bold;
  }

.carrito-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.tabla-productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}

.titulos-tabla-productos {
    display: none;
}

.display-tabla-productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

}

.producto-carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid #56E8F0 1px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.eliminar-producto-carrito{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.eliminar-producto-carrito button i {
    font-size: 0.7rem;
    color: red;
}

.eliminar-producto-carrito button {
    border: none;
    background-color: white;
}

.imagen-producto-carrito {
    display: none;
}

.nombre-producto-carrito,
.precio-producto-carrito,
.cantidad-producto-carrito,
.subtotal-producto-carrito {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.cantidad-especifico-producto-nombre-producto-carrito {
    width: 20%;
    text-align: center;
}

.titulo-producto-nombre-producto-carrito,
.precio-titulo-producto-nombre-producto-carrito,
.cantidad-titulo-producto-nombre-producto-carrito,
.subtotal-titulo-producto-nombre-producto-carrito {
    font-weight: bold;
}

.tabla-totales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding-top: 20px;
    border: solid 1px #56E8F0;
    border-top: none;
}

.display-tabla-totales {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.subtotal-tabla-totales,
.envio-tabla-totales,
.total-tabla-totales {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.envio-tabla-totales {
    flex-direction: column;
}

.envio-especifico-tabla-totales {
    font-size: 0.8rem;
}

.subtotal-titulo-tabla-totales,
.envio-titulo-tabla-totales,
.total-tabla-totales {
    font-weight: bold;
}

.total-tabla-totales {
    font-size: 1.2rem;
}

.finalizar-compra-tabla-totales {
    align-self: center;
    font-size: 1.4rem;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.finalizar-compra-tabla-totales button {
    background-color: black;
    color: #56E8F0;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

td img {
    width: 55px;
}

.formulario-tabla-productos {
    width: 100%;
    margin: 0;
}

.tabla-tabla-productos {
    width: 100%;
    text-align: left;
}

@media (min-width:468px) {
    
.imagen-carrito-mobile {
    height: 200px;
    background-position-y: 53%;
}

.imagen-carrito-mobile p {
    font-size: 3rem;
}

.carrito-principal {
    flex-direction: row;
    flex-wrap: nowrap;
}

.tabla-productos {
    width: 140%;
}

.titulos-tabla-productos {
    display: flex;
}




}




