* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


.top-header { 
    background-color: black;
    color: white;
    text-align: center;
    height: 40px ;
    line-height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.mensaje-promo {
    width: 100%;
}

.info-contacto-header {
    display: none;
}

.info-contacto-header div a  {
    text-decoration: none;
    color: white;
}

.bottom-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px ;
    align-items: center;
    height: 50px;
    position: relative;
}

.menu-flex-mobile {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu-mobile {
    width: 19px;
    height: 19px;
}

.logoflex {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo a img {
    height: 28px;
}


.user-flex-mobile {
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.user-mobile {
    width: 19px;
    height: 19px;
}

.cart-flex {
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart {
    width: 19px;
    height: 19px;
}

.menu-desktop-flex {
    display: none;
}

.menu-desktop-flex nav {
    display: flex;
    justify-content: space-around;
}

.login-flex-desktop {
    display: none;
}

.registro-flex-desktop{
    display: none;
}

footer {
    border-top: solid 2px black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px ;
    align-items: center;
    height: 100px;
    position: relative;
    
}

.navegacion-flex {
    width: 33%;
    text-align: left;   
    justify-content: left;
    height:90% ;
    
}
.logo-ft-flex{
    width: 33%;
    text-align: center;
    
    justify-content: center;
    height:90% ;
}
.contacto-ft-flex{
    width: 33%;
    text-align: right   ;   
    justify-content: center;
    padding: 5px;
    height:90% ;
    
}
li {
    list-style:none;
}

html {
    padding: 15px;
    margin: 0;
  }
  
  .cesta-beneficios-actualizar {}
  .cesta-beneficios-actualizar span:nth-of-type(1) {
    font-size: 36px;
  }
  .cesta-beneficios-actualizar span:nth-of-type(2) {
    font-size: 16px;
    float: right;
    padding-top: 25px;
    font-weight: bold;
  }
  
  .cesta-beneficios-actualizar span:nth-of-type(2) em {
    color: green;
    
  }
  
  table th {
    text-align: center;
     border-bottom:1pt solid black;
  }
  
  tr.totales td {
    font-weight: bold;
    text-align: right;
  }
  
  tr td:nth-of-type(4){
    text-align: right;
  }
  
  tr td:nth-of-type(2), tr td:nth-of-type(3){
    text-align: center;
  }


@media (min-width:468px){

    .mensaje-promo {
        width: 50%;
    }

    .info-contacto-header {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .bottom-header {
        font-size: 1.3rem;
        height: 86px;
        font-weight: bold;
    }

    .menu-flex-mobile {
        display: none;
    }

    .menu-desktop-flex {
        display: flex;
        width: 60%;
        

    }

    .menu-desktop {
     display: flex;
     width: 100%;
    }

    .menu-desktop ul {
        display: flex;
        width: 80%;
        justify-content: space-between;
       
    }

    .menu-desktop ul li {
        display: inline-block;
        
    }

    .menu-desktop ul li a {
        display: inline-block;
        text-decoration: none;
        color: black;
    }



    .logoflex {
        width: auto;
        order: -1;
        width: 20%;  
        justify-content: center;
    }

    .logo a img {
        height: 62px
    }


    .user-flex-mobile {
        display: none;
    }

    .cart-flex {
        order: 2;
        width: 4%;
    }


    .user-flex-desktop {
        display: flex;
        order: 3 ;
        width: 12%;
        justify-content: space-evenly;
    }

    .login-flex-desktop {
        display: flex;
        justify-content: center;
    }

    .registro-flex-desktop {
        display: flex;
        justify-content: center;
    }

    
}
