<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script src="https://kit.fontawesome.com/5e991a0f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link  href="/css/normalize.css" rel="stylesheet">
    <link  href="/css/carrito.css" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet">

</head>
<body>
    <%- include('../partials/header.ejs')%>   
    <main>

        <div class="imagen-carrito-mobile">
            <div class="imagen-carrito-mobile-background">
                    <p>CARRITO</p>
            </div>

        </div>

        <div class="container">
    
            <div class="sub-container-1">
                
                <table class="tabla-tabla-productos">
                        <thead>
                            <tr class="encabezado-tabla">
                                <th class="product-remove"></th>
                                <th class="product-thumbnail"></th>
                                <th class="product-name">PRODUCTO</th>
                                <th class="product-price">PRECIO</th>
                                <th class="product-quantity">CANTIDAD</th>
                                <th class="product-subtotal">SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr class="item">
                                    <td class="product-remove">
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                    </td>
                                    <td class="product-thumbnail">
                                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">Specialized Tarmac SL6</a> </td>
                                    <td class="product-price"><span>$239.000.-</span></td>
                                    <td class="product-quantity">
                                        <input type="number" placeholder="1">
                                    </td>
                                    <td class="product-subtotal"><span>$239.000.-</span></td>
                                </tr>
                                <tr class="item">
                                    <td class="product-remove">
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                    </td>
                                    <td class="product-thumbnail">
                                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">Specialized Tarmac SL6</a> </td>
                                    <td class="product-price"><span>$239.000.-</span></td>
                                    <td class="product-quantity">
                                        <input type="number" placeholder="1">
                                    </td>
                                    <td class="product-subtotal"><span>$239.000.-</span></td>
                                </tr>
                                <tr class="item">
                                    <td class="product-remove">
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                    </td>
                                    <td class="product-thumbnail">
                                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">Specialized Tarmac SL6</a> </td>
                                    <td class="product-price"><span>$239.000.-</span></td>
                                    <td class="product-quantity">
                                        <input type="number" placeholder="1">
                                    </td>
                                    <td class="product-subtotal"><span>$239.000.-</span></td>
                                </tr>
                        
                        </tbody>
                </table>
    
            </div>
    
            <div class="sub-container-2">
    
                <section class="tabla-totales">
                    <div class="titulo-tabla-totales">
                        <h2>TOTALES</h2>
                    </div>
                    <div class="display-tabla-totales">
                        
                        <div class="subtotal-tabla-totales">
                            <div class="subtotal-titulo-tabla-totales">
                                <p>SUBTOTAL</p>
                            </div>
                            <div class="subtotal-especifico-tabla-totales">
                                <p>$239.999.-</p>
                            </div>
                        </div>
    
                        <div class="envio-tabla-totales">
                            <p class="envio-titulo-tabla-totales">ENVÍO</p>
                            <p class="envio-especifico-tabla-totales">Retiro en el local</p>
                            
                        </div>
    
                        <div class="total-tabla-totales">
                            <div class="total-titulo-tabla-totales">
                                <p>TOTAL</p>
                            </div>
                            <div class="total-especifico-tabla-totales">
                                <p>$239.999.-</p>
                            </div>
                        </div>
    
                        <div class="finalizar-compra-tabla-totales">
                            <button>FINALIZAR COMPRA</button>
                        </div>
            </div>
            </div>
        </div>
        
    </main>
    <%- include('../partials/footer.ejs')%> 


</body>
</html>