<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script src="https://kit.fontawesome.com/5e991a0f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link  href="/css/normalize.css" rel="stylesheet">
    <link  href="/css/carrito.css" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet">

</head>
<body>
    <header>
        <section class="top-header">
            <div class="mensaje-promo">
                <p>mensaje cambiante en pantalla promo</p>
            </div>

            <div class="info-contacto-header">
                
                <div class="telefono-header">
                    <a href="#"><p><i class="fa-brands fa-whatsapp"></i>  +5491123456789</p></a>
                </div>

                <div class="mail-header">
                    <a href="#"><p><i class="fa-solid fa-envelope"></i>  dhbicicletas@dhmail.com</p></a>
                </div>

                <div class="direccion-header">
                    <a href="#"><p><i class="fa-solid fa-location-dot"></i>  Av. Calle Falsa 123</p></a>
                    
                </div>
            </div>
        </section>

        <section class="bottom-header">
            <div class="menu-flex-mobile">
                <div class="menu-mobile">
                    <nav>
                        <i class="fa-solid fa-bars"></i>
                    </nav>
                </div>
            </div>

            <div class="logoflex">
                
                <div class="logo">
                    <a href="/"><img  src="images/logodhbikes.svg" ></a>
                </div>
                
            </div>
            
            <div class="user-flex-mobile">
                <div class="user-flex-mobile">
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>


            

            <div class="cart-flex">
                <div class="cart">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>

            <div class="menu-desktop-flex">
               <nav class="menu-desktop">
                     <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav> 
            </div>

            <div class="user-flex-desktop">
                
                <div class="login-flex-desktop">
                    <div class="login-desktop">
                        <button><a href="/login">login</a></button>  
                    </div>
                </div>

                <div class="registro-flex-desktop">
                    <div class="registro-desktop">
                        <button><a href="/registro">registro</a></button>  
                    </div>
                </div>

            </div>

            
        </section>
    </header>    
    <main>

        <div class="imagen-carrito-mobile">
            <div class="imagen-carrito-mobile-background">
                    <p>CARRITO</p>
            </div>

        </div>

        <div class="container">
    
            <div class="sub-container-1">
                
                <table class="tabla-tabla-productos">
                        <thead>
                            <tr class="encabezado-tabla">
                                <th class="product-remove"></th>
                                <th class="product-thumbnail"></th>
                                <th class="product-name">PRODUCTO</th>
                                <th class="product-price">PRECIO</th>
                                <th class="product-quantity">CANTIDAD</th>
                                <th class="product-subtotal">SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr class="item">
                                    <td class="product-remove">
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                    </td>
                                    <td class="product-thumbnail">
                                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">Specialized Tarmac SL6</a> </td>
                                    <td class="product-price"><span>$239.000.-</span></td>
                                    <td class="product-quantity">
                                        <input type="number" placeholder="1">
                                    </td>
                                    <td class="product-subtotal"><span>$239.000.-</span></td>
                                </tr>
                                <tr class="item">
                                    <td class="product-remove">
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                    </td>
                                    <td class="product-thumbnail">
                                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">Specialized Tarmac SL6</a> </td>
                                    <td class="product-price"><span>$239.000.-</span></td>
                                    <td class="product-quantity">
                                        <input type="number" placeholder="1">
                                    </td>
                                    <td class="product-subtotal"><span>$239.000.-</span></td>
                                </tr>
                                <tr class="item">
                                    <td class="product-remove">
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                    </td>
                                    <td class="product-thumbnail">
                                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">Specialized Tarmac SL6</a> </td>
                                    <td class="product-price"><span>$239.000.-</span></td>
                                    <td class="product-quantity">
                                        <input type="number" placeholder="1">
                                    </td>
                                    <td class="product-subtotal"><span>$239.000.-</span></td>
                                </tr>
                        
                        </tbody>
                </table>
    
            </div>
    
            <div class="sub-container-2">
    
                <section class="tabla-totales">
                    <div class="titulo-tabla-totales">
                        <h2>TOTALES</h2>
                    </div>
                    <div class="display-tabla-totales">
                        
                        <div class="subtotal-tabla-totales">
                            <div class="subtotal-titulo-tabla-totales">
                                <p>SUBTOTAL</p>
                            </div>
                            <div class="subtotal-especifico-tabla-totales">
                                <p>$239.999.-</p>
                            </div>
                        </div>
    
                        <div class="envio-tabla-totales">
                            <p class="envio-titulo-tabla-totales">ENVÍO</p>
                            <p class="envio-especifico-tabla-totales">Retiro en el local</p>
                            
                        </div>
    
                        <div class="total-tabla-totales">
                            <div class="total-titulo-tabla-totales">
                                <p>TOTAL</p>
                            </div>
                            <div class="total-especifico-tabla-totales">
                                <p>$239.999.-</p>
                            </div>
                        </div>
    
                        <div class="finalizar-compra-tabla-totales">
                            <button>FINALIZAR COMPRA</button>
                        </div>
            </div>
            </div>
        </div>
        
    </main>
    <footer>
        
        <div class="footer-mobile">

            <section class="socialmedia">
                
                <div class="telefono-footer">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>

                <div class="instagram-footer">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="facebook-footer">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </div>

                <div class="youtube-footer">
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            


            </section>

           
            <section class="contacto-footer">
                <h3>Contacto</h3>
                <ul>
                    <li><a href="#"> +5491123456789</a></li>
                    <li><a href="#"> dhbicicletas@dhmail.com</a></li>
                    <li><a href="#"> Av. Calle Falsa 123</a></li>
                </ul>
            </section>

            <section class="links-footer">
                <h3>Links</h3>
                <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Sobre Nosotros</a></li>
                    <li><a href="#"> Productos</a></li>
                    <li><a href="#"> Contacto</a></li>
                </ul>
            </section>

            <div class="logo-footer">
                    <div class="logo-footer-logo">
                        <a href="/"><img  src="images/logodhbikes-bw.svg" ></a>
                    </div>

                    <div class="logo-footer-social">
                        <div class="telefono-footer">
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
        
                        <div class="instagram-footer">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
        
                        <div class="facebook-footer">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </div>
        
                        <div class="youtube-footer">
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                   
                
                
            </div>
                

        </div>

    </footer>


</body>
</html>