<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/5e991a0f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link  href="/css/normalize.css" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet">
    
</head>
<body>
    
    <%- include('./partials/header.ejs')%> 
    <main>

        <div class="contenedor01">
            <div class="subcontenedor01">
                <div class="mensaje-imagen">
                    <p class="mensaje-imagen-texto-1">TU PRÓXIMA BICI ESTÁ EN</p>
                    <P class="mensaje-imagen-texto-2">DH BIKES</P>
                </div>

                <div class="ver-bicicletas-productos">
                    <div class="ver-bicicletas">
                        <a href="#"><p>VER BICICLETAS</p></a>
                    </div>
                    <div class="ver-productos">
                        <a href="#"><p>VER PRODUCTOS</p></a>
                    </div>
                </div>

                
            </div>
        </div>

        <section class="novedades">
            
            <h2>NOVEDADES</h2>
            <div class="products">

                <article class="product">
                    <a href="#">
                        <div class="img-product">
                            <img src="images\specializedtarmacsl6.jpeg" alt="Cafetera" class="product-img">
                        </div>
                        <div class="main-article">
                            <h4 class="description">Bicicleta Specialized Tarmac SL6</h4>
                            <div class="box-price">
                                <p class="price">$239.999.-</p>
                            </div>
                        </div>  
                    </a>
                </article>  

                <article class="product">
                    <a href="#">
                        <div class="img-product">
                            <img src="images\specializedtarmacsl6.jpeg" alt="Cafetera" class="product-img">
                        </div>
                        <div class="main-article">
                            <h4 class="description">Bicicleta Specialized Tarmac SL6</h4>
                            <div class="box-price">
                                <p class="price">$239.999.-</p>
                            </div>
                        </div>  
                    </a>
                </article>  

                <article class="product">
                    <a href="#">
                        <div class="img-product">
                            <img src="images\specializedtarmacsl6.jpeg" alt="Cafetera" class="product-img">
                        </div>
                        <div class="main-article">
                            <h4 class="description">Bicicleta Specialized Tarmac SL6</h4>
                            <div class="box-price">
                                <p class="price">$239.999.-</p>
                            </div>
                        </div>  
                    </a>
                </article>  
    
            </div>

        </section>

        <div class="contenedor02">
            <div class="mensaje-imagen">
                <p class="mensaje-imagen-texto-3">SOMOS UNO MÁS</p>

                <div class="mensaje-medio">
                    <p class="mensaje-imagen-texto-4">DE CICLISTAS, </p>
                    <p class="mensaje-imagen-texto-6"> PARA CICLISTAS</p>  
                </div>
                <p class="mensaje-imagen-texto-5">Buscamos la conexión con los Clientes a través de la empatía, de pertenecer al ciclismo, de sentirse parte y ser uno más en el equipo.</p>
            </div>
        </div>

        <section class="categorias">
            
            <div class="contenedor-categoria-01">
                <div class="mensaje-categoria">
                    <div class="mensaje-categoria-01">
                        <p class="mensaje-categoria-texto-01">BICICLETAS</p>
                    </div>
                    <div class="mensaje-categoria-02">
                        <a href="#"><p>VER MÁS</p></a>
                    </div>   
                </div>
            </div>

            <div class="contenedor-categoria-02">
                <div class="mensaje-categoria">
                    <div class="mensaje-categoria-01">
                        <p class="mensaje-categoria-texto-01">ROPA</p>
                    </div>
                    <div class="mensaje-categoria-02">
                        <a href="#"><p>VER MÁS</p></a>
                    </div>   
                </div>
            </div>

            <div class="contenedor-categoria-03">
                <div class="mensaje-categoria">
                    <div class="mensaje-categoria-03">
                        <p class="mensaje-categoria-texto-01">INDUMENTARIA</p>
                    </div>
                    <div class="mensaje-categoria-02">
                        <a href="#"><p>VER MÁS</p></a>
                    </div>   
                </div>
            </div>
              
        
        
        </section>
            
    </main>
    <%- include('./partials/footer.ejs')%> 
</body>
</html>