<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <script src="https://kit.fontawesome.com/5e991a0f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link  href="/css/normalize.css" rel="stylesheet">
    <link  href="/css/stylesdetalle.css" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <section class="top-header">
            <div class="mensaje-promo">
                <p>mensaje cambiante en pantalla promo</p>
            </div>

            <div class="info-contacto-header">
                
                <div class="telefono-header">
                    <a href="#"><p><i class="fa-brands fa-whatsapp"></i>  +5491123456789</p></a>
                </div>

                <div class="mail-header">
                    <a href="#"><p><i class="fa-solid fa-envelope"></i>  dhbicicletas@dhmail.com</p></a>
                </div>

                <div class="direccion-header">
                    <a href="#"><p><i class="fa-solid fa-location-dot"></i>  Av. Calle Falsa 123</p></a>
                    
                </div>
            </div>
        </section>

        <section class="bottom-header">
            <div class="menu-flex-mobile">
                <div class="menu-mobile">
                    <nav>
                        <i class="fa-solid fa-bars"></i>
                    </nav>
                </div>
            </div>

            <div class="logoflex">
                
                <div class="logo">
                    <a href="/"><img  src="images/logodhbikes.svg" ></a>
                </div>
                
            </div>
            
            <div class="user-flex-mobile">
                <div class="user-flex-mobile">
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>


            

            <div class="cart-flex">
                <div class="cart">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>

            <div class="menu-desktop-flex">
               <nav class="menu-desktop">
                     <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav> 
            </div>

            <div class="user-flex-desktop">
                
                <div class="login-flex-desktop">
                    <div class="login-desktop">
                        <button><a href="/login">login</a></button>  
                    </div>
                </div>

                <div class="registro-flex-desktop">
                    <div class="registro-desktop">
                        <button><a href="/registro">registro</a></button>  
                    </div>
                </div>

            </div>

            
        </section>
    </header>     
    <main>

        <div class="detalle-producto">
            <section class="imagenes-producto">
                
                <div class="imagen-producto-principal">
                    <img src="images\specializedtarmacsl6.jpeg" alt="">

                </div>

                <div class="imagen-producto-secundaria">
                    <div class="contenedor-imagen-producto-secundaria">
                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                    </div>
                    <div class="contenedor-imagen-producto-secundaria">
                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                    </div>
                    <div class="contenedor-imagen-producto-secundaria">
                        <img src="images\specializedtarmacsl6.jpeg" alt="">
                    </div>
                </div>
                
            </section>


            <section class="descripcion-producto">

                <div class="ruta-descripcion-producto">
                    <p>Inicio/Productos/Bicicletas/Specialized Tarmac SL6</p>
                </div>

                <div class="nombre-descripcion-producto">
                    <h2>Specialized Tarmac SL6</h2>
                </div>

                <div class="precio-descripcion-producto">
                    <h3>$239.000.-</h3>
                </div>

                <form action="#" method="post" class="medio-pago">
                    <div class="boton-medio-pago">
                       <input type="radio" name="" id=""><label for="efectivo">Efectivo</label> 
                    </div>
                    <div class="boton-medio-pago">
                      <input type="radio" name="" id=""><label for="tarjeta">Tarjeta</label>  
                    </div>
                    <div class="boton-comprar">
                      <button type="submit">COMPRAR</button>  
                    </div>
                </form>

                <div class="texto-descripcion-producto">
                    <div class="titulo-texto-descripcion-producto">
                        <h2>Información del producto</h2>
                    </div>
                    <div class="parrafo-texto-descripcion-producto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem cumque est esse iusto, eius quas. Ipsa, sapiente non vero iure consequatur porro laboriosam explicabo pariatur. Nisi laudantium quaerat beatae?
                            <br>
                            <br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi est atque praesentium perferendis amet error. Odio, saepe vitae nam, ad molestiae sit, dignissimos accusamus et ex fugit impedit? Corrupti, placeat.
                        </p>
                    </div>
                    
                </div>

                

            </section>

        </div>
        
    </main>
    <footer>
        
        <div class="footer-mobile">

            <section class="socialmedia">
                
                <div class="telefono-footer">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>

                <div class="instagram-footer">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="facebook-footer">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </div>

                <div class="youtube-footer">
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            


            </section>

            <section class="contacto-footer">
                <div class="titulo-contacto">
                    <h3>Contacto</h3>
                </div>
                <div class="telefono-contacto">
                    <p>+5491123456789</p>
                </div>
                <div class="email-contacto">
                    <p>dhbicicletas@dhmail.com</p>
                </div>
                <div class="domicilio-contacto">
                    <p>Av. Calle Falsa 123</p>
                </div>
            </section>

            <section class="links-footer">
                <h3>Links</h3>
                <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Sobre Nosotros</a></li>
                    <li><a href="#"> Productos</a></li>
                    <li><a href="#"> Contacto</a></li>
                </ul>
            </section>

            <div class="logo-footer">
                    <a href="/"><img  src="images/logodhbikes.svg" ></a>
            </div>
                

        </div>

    </footer>
</body>
</html>