<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/5e991a0f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link  href="/css/normalize.css" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <section class="top-header">
            <div class="mensaje-promo">
                <p>mensaje cambiante en pantalla promo</p>
            </div>

            <div class="info-contacto-header">
                
                <div class="telefono-header">
                    <a href="#"><p><i class="fa-brands fa-whatsapp"></i>  +5491123456789</p></a>
                </div>

                <div class="mail-header">
                    <a href="#"><p><i class="fa-solid fa-envelope"></i>  dhbicicletas@dhmail.com</p></a>
                </div>

                <div class="direccion-header">
                    <a href="#"><p><i class="fa-solid fa-location-dot"></i>  Av. Calle Falsa 123</p></a>
                    
                </div>
            </div>
        </section>

        <section class="bottom-header">
            <div class="menu-flex-mobile">
                <div class="menu-mobile">
                    <nav>
                        <i class="fa-solid fa-bars"></i>
                    </nav>
                </div>
            </div>

            <div class="logoflex">
                
                <div class="logo">
                    <a href="/"><img  src="images/logodhbikes.svg" ></a>
                </div>
                
            </div>
            
            <div class="user-flex-mobile">
                <div class="user-flex-mobile">
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>


            

            <div class="cart-flex">
                <div class="cart">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>

            <div class="menu-desktop-flex">
               <nav class="menu-desktop">
                     <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav> 
            </div>

            <div class="user-flex-desktop">
                
                <div class="login-flex-desktop">
                    <div class="login-desktop">
                        <button><a href="/login">login</a></button>  
                    </div>
                </div>

                <div class="registro-flex-desktop">
                    <div class="registro-desktop">
                        <button><a href="/registro">registro</a></button>  
                    </div>
                </div>

            </div>

            
        </section>
    </header>       
    <main>

        <div class="contenedor01">
            <div class="subcontenedor01">
                <div class="mensaje-imagen">
                    <p class="mensaje-imagen-texto-1">TU PRÓXIMA BICI ESTÁ EN</p>
                    <P class="mensaje-imagen-texto-2">DH BIKES</P>
                </div>

                <div class="ver-bicicletas-productos">
                    <div class="ver-bicicletas">
                        <a href="#"><p>VER BICICLETAS</p></a>
                    </div>
                    <div class="ver-productos">
                        <a href="#"><p>VER PRODUCTOS</p></a>
                    </div>
                </div>

                
            </div>
        </div>

        <section class="novedades">
            
            <h2>NOVEDADES</h2>
            <div class="products">

                <article class="product">
                    <a href="#">
                        <div class="img-product">
                            <img src="images\specializedtarmacsl6.jpeg" alt="Cafetera" class="product-img">
                        </div>
                        <div class="main-article">
                            <h4 class="description">Bicicleta Specialized Tarmac SL6</h4>
                            <div class="box-price">
                                <p class="price">$239.999.-</p>
                            </div>
                        </div>  
                    </a>
                </article>  

                <article class="product">
                    <a href="#">
                        <div class="img-product">
                            <img src="images\specializedtarmacsl6.jpeg" alt="Cafetera" class="product-img">
                        </div>
                        <div class="main-article">
                            <h4 class="description">Bicicleta Specialized Tarmac SL6</h4>
                            <div class="box-price">
                                <p class="price">$239.999.-</p>
                            </div>
                        </div>  
                    </a>
                </article>  

                <article class="product">
                    <a href="#">
                        <div class="img-product">
                            <img src="images\specializedtarmacsl6.jpeg" alt="Cafetera" class="product-img">
                        </div>
                        <div class="main-article">
                            <h4 class="description">Bicicleta Specialized Tarmac SL6</h4>
                            <div class="box-price">
                                <p class="price">$239.999.-</p>
                            </div>
                        </div>  
                    </a>
                </article>  
    
            </div>

        </section>

        <div class="contenedor02">
            <div class="mensaje-imagen">
                <p class="mensaje-imagen-texto-3">SOMOS UNO MÁS</p>

                <div class="mensaje-medio">
                    <p class="mensaje-imagen-texto-4">DE CICLISTAS, </p>
                    <p class="mensaje-imagen-texto-6"> PARA CICLISTAS</p>  
                </div>
                <p class="mensaje-imagen-texto-5">Buscamos la conexión con los Clientes a través de la empatía, de pertenecer al ciclismo, de sentirse parte y ser uno más en el equipo.</p>
            </div>
        </div>

        <section class="categorias">
            
            <div class="contenedor-categoria-01">
                <div class="mensaje-categoria">
                    <div class="mensaje-categoria-01">
                        <p class="mensaje-categoria-texto-01">BICICLETAS</p>
                    </div>
                    <div class="mensaje-categoria-02">
                        <a href="#"><p>VER MÁS</p></a>
                    </div>   
                </div>
            </div>

            <div class="contenedor-categoria-02">
                <div class="mensaje-categoria">
                    <div class="mensaje-categoria-01">
                        <p class="mensaje-categoria-texto-01">ROPA</p>
                    </div>
                    <div class="mensaje-categoria-02">
                        <a href="#"><p>VER MÁS</p></a>
                    </div>   
                </div>
            </div>

            <div class="contenedor-categoria-03">
                <div class="mensaje-categoria">
                    <div class="mensaje-categoria-03">
                        <p class="mensaje-categoria-texto-01">INDUMENTARIA</p>
                    </div>
                    <div class="mensaje-categoria-02">
                        <a href="#"><p>VER MÁS</p></a>
                    </div>   
                </div>
            </div>
              
        
        
        </section>
            
    </main>
    <footer>
        
        <div class="footer-mobile">

            <section class="socialmedia">
                
                <div class="telefono-footer">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>

                <div class="instagram-footer">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="facebook-footer">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </div>

                <div class="youtube-footer">
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            


            </section>

            <section class="contacto-footer">
                <div class="titulo-contacto">
                    <h3>Contacto</h3>
                </div>
                <div class="telefono-contacto">
                    <p>+5491123456789</p>
                </div>
                <div class="email-contacto">
                    <p>dhbicicletas@dhmail.com</p>
                </div>
                <div class="domicilio-contacto">
                    <p>Av. Calle Falsa 123</p>
                </div>
            </section>

            <section class="links-footer">
                <h3>Links</h3>
                <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Sobre Nosotros</a></li>
                    <li><a href="#"> Productos</a></li>
                    <li><a href="#"> Contacto</a></li>
                </ul>
            </section>

            <div class="logo-footer">
                    <a href="/"><img  src="images/logodhbikes.svg" ></a>
            </div>
                

        </div>

    </footer>
</body>
</html>