<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/5e991a0f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\normalize.css">
    <link rel="stylesheet" href="css\styles.css">
</head>
<body>
    <header>
        <section class="top-header-mobile">
            mensaje cambiante en pantalla promo
        </section>

        <section class="bottom-header">
            <div class="menu-flex-mobile">
                <div class="menu-mobile">
                    <nav>
                        <i class="fa-solid fa-bars"></i>
                    </nav>
                </div>
            </div>

            <div class="logoflex">
                <div class="logo">
                    <a href="#"><img  src="images\logodhbikes.svg" alt=""></a>
                </div>
            </div>
            
            <div class="user-flex-mobile">
                <div class="user-flex-mobile">
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>

            <div class="cart-flex">
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>

            <div class="menu-desktop-flex">
               <nav class="menu-desktop">
                     <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav> 
            </div>

            <div class="login-flex-desktop">
                <div class="login-desktop">
                  <button><a href="#">login</a></button>  
                </div>
            </div>

            <div class="registro-flex-desktop">
                <div class="registro-desktop">
                  <button><a href="#">registro</a></button>  
                </div>
            </div>
        </section>
    <main></main>
    <footer></footer>
</body>
</html>