<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/28f161943c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/registrologin.css" rel="stylesheet">
</head>

<body>

    <%- include('../partials/header.ejs')%>

        <main>



            <div class="titulo-formulario-registro">
                <p>INGRESAR</p>
            </div>

            <div class="formulario">
                <form action="/users/login" method="POST" class="create-form">

                    <div class="control-formulario-registro">
                        <label>Correo Electrónico</label>
                        <input type="text" name="email" class="control">
                        <% if (locals.errors && errors.email){ %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <%}%>
                    </div>

                    <div class="control-formulario-registro">
                        <label>Contraseña</label>
                        <input type="password" name="contrasena" class="control">
                    </div>

                    <div class="control-formulario-registro">
                        <div class="recordar-usuario"><input type="checkbox" name="recordar"><label
                                for="tarjeta">Recordar Usuario y Contraseña</label></div>
                        <button type="submit" class="boton-formulario">
                            <span>INGRESAR</span>
                        </button>
                        <a href="#" class="olvido-contrasenia"> ¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>



        </main>

        <%- include('../partials/footer.ejs')%>
</body>

</html>