<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/28f161943c.js" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link  href="/css/registrologin.css" rel="stylesheet">
</head>
<body>
    
<header>
        <section class="top-header">
            <div class="mensaje-promo">
                <p>mensaje cambiante en pantalla promo</p>
            </div>

            <div class="info-contacto-header">
                
                <div class="telefono-header">
                    <a href="#"><p><i class="fa-brands fa-whatsapp"></i>  +5491123456789</p></a>
                </div>

                <div class="mail-header">
                    <a href="#"><p><i class="fa-solid fa-envelope"></i>  dhbicicletas@dhmail.com</p></a>
                </div>

                <div class="direccion-header">
                    <a href="#"><p><i class="fa-solid fa-location-dot"></i>  Av. Calle Falsa 123</p></a>
                    
                </div>
            </div>
        </section>

        <section class="bottom-header">
            <div class="menu-flex-mobile">
                <div class="menu-mobile">
                    <nav>
                        <i class="fa-solid fa-bars"></i>
                    </nav>
                </div>
            </div>

            <div class="logoflex">
                
                <div class="logo">
                    <a href="/"><img  src="images/logodhbikes.svg" ></a>
                </div>
                
            </div>
            
            <div class="user-flex-mobile">
                <div class="user-flex-mobile">
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>


            

            <div class="cart-flex">
                <div class="cart">
                    <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>

            <div class="menu-desktop-flex">
               <nav class="menu-desktop">
                     <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="/products">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav> 
            </div>

            <div class="user-flex-desktop">
                
                <div class="login-flex-desktop">
                    <div class="login-desktop">
                        <button><a href="/users/login">login</a></button>  
                    </div>
                </div>

                <div class="registro-flex-desktop">
                    <div class="registro-desktop">
                        <button><a href="/users/registro">registro</a></button>  
                    </div>
                </div>

            </div>

            
        </section>
</header>   
  
<main>

    <main>

        <div class="titulo-formulario-registro"><p>INGRESAR</p></div>
        
        <div class="formulario">
            <form action="/registro-usuario" method="POST" class="create-form">

                <div class="control-formulario-registro">
                    <label>Nombre de Usuario o Correo Electrónico</label>
                    <input type="text" name="nombre" class="control">
                </div>
    
                <div class="control-formulario-registro">
                    <label>Contraseña</label>
                    <input type="password" name="contraseña" class="control">
                </div>
    
                <div class="control-formulario-registro">
                    <div class="recordar-usuario"><input type="checkbox" name="" id=""><label for="tarjeta">Recordar Usuario y Contraseña</label></div>
                    <button type="submit" class="boton-formulario">
                        <span>INGRESAR</span> 
                    </button>
                    <a href="#" class="olvido-contrasenia"> ¿Olvidaste tu contraseña?</a>
                </div> 
            </form>
        </div>
        
    </main>

</main>

<footer>
        
    <div class="footer-mobile">

        <section class="socialmedia">
            
            <div class="telefono-footer">
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>

            <div class="instagram-footer">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <div class="facebook-footer">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>

            <div class="youtube-footer">
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        


        </section>

       
        <section class="contacto-footer">
            <h3>Contacto</h3>
            <ul>
                <li><a href="#"> +5491123456789</a></li>
                <li><a href="#"> dhbicicletas@dhmail.com</a></li>
                <li><a href="#"> Av. Calle Falsa 123</a></li>
            </ul>
        </section>

        <section class="links-footer">
            <h3>Links</h3>
            <ul>
                <li><a href="#"> Home</a></li>
                <li><a href="#"> Sobre Nosotros</a></li>
                <li><a href="#"> Productos</a></li>
                <li><a href="#"> Contacto</a></li>
            </ul>
        </section>

        <div class="logo-footer">
                <div class="logo-footer-logo">
                    <a href="/"><img  src="images/logodhbikes-bw.svg" ></a>
                </div>

                <div class="logo-footer-social">
                    <div class="telefono-footer">
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
    
                    <div class="instagram-footer">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
    
                    <div class="facebook-footer">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
    
                    <div class="youtube-footer">
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
               
            
            
        </div>
            

    </div>

</footer>
</body>
</html>