.container {
    background-color: #eff2f4;
    min-width: 250px;

}
.titulo {
    padding: 10px;
    margin: 15px;
}

body {
    flex-wrap: wrap;
}


.Descripción {
    display: flex;
    flex-grow: 1;
    padding: 25px;
    margin: 20px;
}


.bici-imagen {
    width: 30vw;
    
}


.detalles {
    
   width: 100vw;
   justify-content: center;
}
.nombre {
    padding: 10px;
    margin: 15px;
}

.listas {
  
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
   
}

.actions-list {
    
   
   font-size: 20px;
    width: 100%;
    
}

.button {
   
    justify-content: center;
    padding: 10px;
    margin: 15px;
    


}
.boton-eliminar {
    justify-content: center;
}


@media (min-width: 361px) {
     .Description .bici-imagen {
        display: none;
        width: 50vw;

    }
   
     .detalles {
        display: none;
        width: 50vw;
        justify-content: none;

    }
}