<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28f161943c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"href="/css/registrologin.css">
</head>
<body>
    
    <%- include('../partials/header.ejs')%> 
<main>

    <div class="titulo-formulario-registro"><p>Nuevo Producto</p></div>

    <div class="formulario">
        <form action="nuevo-producto" method="POST" class="create-form" enctype="multipart/form-data">
        
            <div class="control-formulario-registro">
                <label>Nombre del Producto</label>
                <input type="text" name="name" class="control">
            </div>

            <div class="control-formulario-registro">
                <label>Descripcion</label>
                <input type="text" name="description" class="control">
            </div>

            <div class="control-formulario-registro">
                <label>Precio</label>
                <input type="number" name="price" class="control">
            </div>

            
            <div class="control-formulario-registro">
                <label>Suba la Imagen del Producto</label>
                <input type="file" name="fotoProducto" class="control">
            </div>

            <div class="control-formulario-registro">
                <label for="category">Categoría:</label>
                
				<select name="category" id="category">
                    
                    <% for (let i=0; (i < Category.length); i++) { %>
                        <option value="<%= Category[i].category_id %>">
                            <%= Category[i].name %>
                        </option>					
                        <% } %>		
                    
				</select>
            </div>

            <div class="control-formulario-registro">
                <button type="submit" class="boton-formulario">
                    <span>CREAR PRODUCTO</span> 
                </button>
            </div>
        </form>
    </div>
    
</main>

<%- include('../partials/footer.ejs')%> 


</body>

</html>